<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737050282418-7poujcqusn6pklla0ig3d7mhjki977dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737050282418-7poujcqusn6pklla0ig3d7mhjki977dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBrt85Wfp-7wtiEzwuxTSKNxjCGY3tTLGs</string>
	<key>GCM_SENDER_ID</key>
	<string>737050282418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goe</string>
	<key>PROJECT_ID</key>
	<string>earthgo-3aa75</string>
	<key>STORAGE_BUCKET</key>
	<string>earthgo-3aa75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737050282418:ios:a1e8c3b75ffecb2f6dbcab</string>
	<key>DATABASE_URL</key>
	<string>https://earthgo-3aa75-default-rtdb.firebaseio.com</string>
</dict>
</plist>